<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All Users</title>
</head>

<!-- <body>
  <h1>All Users</h1>
  <ul>
    {% for user in users %}
    <li><a href="/{{user.id}}">{{user.first_name}}</a></li>
    {% endfor %}
  </ul>
  <h2>Add New User</h2>
  <form action="/" method="POST">
    <input type="text" name="first_name" placeholder="first name">
    <input type="text" name="last_name" placeholder="last name">
    <input type="text" name="image_url" placeholder="profile pic URL">
    <button>Submit User</button>
  </form>
</body> -->
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Blogly</a>
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="btn btn-sm btn-secondary" href="/users/new">Add user</a>
      </li>
    </ul>
  </nav>
  <div class="container mt-5">
    {% block content %}
    <!-- put the content here -->
    {% endblock %}
  </div>
</body>
</html>